<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <nav class="navbar navbar-inverse" th:fragment="header">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">Pet Clinic</a>
            </div>
            <ul class="nav navbar-nav">
                <li th:classappend="${module == 'home' ? 'active' : ''}">
                    <a th:href="@{/}">Home</a>
                </li>
                <li th:classappend="${module == 'clinic' ? 'active' : ''}">
                    <a th:href="@{/clinic/list}">Clinics</a>
                </li>
                <li th:classappend="${module == 'owner/pets' ? 'active' : ''}">
                    <a th:href="@{/owner/pets}">My Pets</a>
                </li>
                <li th:classappend="${module == 'owner/clinic' ? 'active' : ''}">
                    <a th:href="@{/owner/clinic}">My Clinic</a>
                </li>
                <li th:classappend="${module == 'owner/profile' ? 'active' : ''}">
                    <a th:href="@{/owner/profile}">My Profile</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/signin}">
                        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;Sign in
                    </a>
                </li>
                <li th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="/logout" th:href="@{#}" onclick="$('#form').submit();">
                        <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;Logout
                    </a>
                    <form style="visibility: hidden" id="form" method="post" action="#" th:action="@{/logout}"></form>
                </li>
            </ul>
        </div>
    </nav>
</body>
</html>