<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h1>Clinics</h1>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
        </tr>

        <tr th:if="${clinics.empty}">
            <td colspan="4"> No Clinics </td>
        </tr>
        <tr th:each="clinic : ${clinics}">
            <td><a th:href="@{/clinic/id/{id}(id=${clinic.id})}"><span th:text="${clinic.name}"> </span></a></td>
            <td><span th:text="${clinic.email}"> </span></td>
            <td><span th:text="${clinic.phone}"> </span></td>
            <td>
                <span th:if="${clinic.address != null}" th:text="|${clinic.address.country_name},
                ${clinic.address.country_name.region}, ${clinic.address.country_name.region.city}
                , ${clinic.address.country_name.region.city.zip_code},
                ${clinic.address.country_name.region.city.zip_code.address_line_1},
                ${clinic.address.country_name.region.city.zip_code.address_line_1,address_line_2}|">
                </span>
                <span th:if="${clinic.address == null}"> - </span>
            </td>
        </tr>
    </table>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>