<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h1>Clinic</h1>
    <table>
        <tr>
            <th>Name</th>
            <td><span th:text="${clinic.name}"></span></td>
        </tr>
        <tr>
            <th>Email</th>
            <td><span th:text="${clinic.email}"></span></td>
        </tr>
        <tr>
            <th>Phone</th>
            <td><span th:text="${clinic.phone}"></span></td>
        </tr>
        <tr>
            <th>Address</th>
            <td><span th:field="${clinic.address}"></span></td>
        </tr>
    </table>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>