<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container content">
    <h1>Pet Clinic</h1>
    <img style="float:right" height="300" src="home.png">
    <h3>
        Welcome to the Pet Clinic application!
    </h3>

    <p>
        An amazing web clinic.You can register your pets and can list of clinics, make an appointment!
    </p>

    <div th:if="${#authorization.expression('!isAuthenticated()')}">
        <p>
            Get started by signing up.
        </p>
        <div>
            <a th:href="@{/signup}" class="btn btn-primary">Sign up</a>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>