<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container content">
    <h1>Pet Clinic</h1>
    <div style="float:right">
        <img  height="400" src="home.jpg">
        <div style="margin-top:-22px;text-align:right">
            <a style="margin-right:8px;color:#E0E0E0" target="_blank" rel="noreferrer" href="https://www.freepik.com/free-photo/close-up-veterinarian-taking-care-cat_18395442.htm#from_view=detail_alsolike">
                Designed by Freepik
            </a>
        </div>
    </div>
    <h3>
        Welcome to the Pet Clinic application!
    </h3>

    <p>
        An amazing web clinic.You can register your pets and can list of clinics, make an appointment!
    </p>

    <div th:if="${#authorization.expression('!isAuthenticated()')}">
        <p>
            Get started by signing up.
        </p>
        <div>
            <a th:href="@{/signup}" class="btn btn-primary">Sign up</a>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>