<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h1>Clinic</h1>
    <form method="post" th:action="@{/clinic/}" th:object="${clinic}">
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><input type="text" th:field="*{email}"></td>
            </tr>
            <tr>
                <th>Phone</th>
                <td><input type="text" th:field="*{phone}"></td>
            </tr>
            <tr>
                <th>Address</th>
                <td><input type="text" th:field="*{address}"></td>
            </tr>
        </table>
        <input type="submit" value="Update">
    </form>

    <h2>Appointments</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Species</th>
            <th>Pet Name</th>
            <th>Date</th>
            <th>Reason</th>
        </tr>

        <tr th:if="${appointments.empty}">
            <td colspan="5"> No Appointments </td>
        </tr>
        <tr th:each="appointment : ${appointments}">
            <td><a th:href="@{/reception/appointmentId/{id}(id=${appointment.id})}"><span th:text="${appointment.id}"> </span></a></td>
            <td><span th:text="${appointment.speciesName}"> </span></td>
            <td><span th:text="${appointment.petName}"> </span></td>
            <td><span th:text="${appointment.date}"> </span></td>
            <td><span th:text="${appointment.reason}"> </span></td>
        </tr>
    </table>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>