<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container content">
    <h2>Pet Data</h2>
    <form class="form-narrow form-horizontal" method="post" th:action="@{/pet}" th:object="${pet}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{ownerId}">
        <fieldset>
            <div class="form-group">
                <label for="name" class="col-lg-2 control-label">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="name" th:field="*{name}" />
                </div>
            </div>
            <div class="form-group">
                <label for="speciesId" class="col-lg-2 control-label">Species</label>
                <div class="col-lg-10">
                    <select class="form-control" id="speciesId" th:field="*{speciesId}">
                        <option th:each="s : ${species}" th:value="${s.id}" th:text="${s.name}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="breed" class="col-lg-2 control-label">Breed</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="breed" th:field="*{breed}" />
                </div>
            </div>
            <div class="form-group">
                <label for="birthDay" class="col-lg-2 control-label">Birth Day</label>
                <div class="col-lg-10">
                    <input type="date" class="form-control" id="birthDay" th:field="*{birthDay}" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </fieldset>
    </form>

    <h2>Clinical Records</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Date</th>
            <th>Diagnose</th>
            <th>Treatment</th>
        </tr>

        <tr th:if="${records == null || records.empty}">
            <td colspan="4"> No medical records yet </td>
        </tr>
        <tr th:each="record : ${records}">
            <td><span th:text="${record.id}"></span></td>
            <td><span th:text="${record.date}"></span></td>
            <td><span th:text="${record.diagnose}"></span></td>
            <td><span th:text="${record.treatment}"></span></td>
        </tr>
    </table>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>