<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container content">
    <form class="form-narrow form-horizontal" method="post" th:action="@{/signup}" th:object="${owner}">
        <fieldset>
            <legend>Please Sign Up</legend>
            <div class="form-group">
                <label for="username" class="col-lg-2 control-label">User Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="username" th:field="*{username}"/>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-lg-2 control-label">Password</label>
                <div class="col-lg-10">
                    <input type="password" class="form-control" id="password" th:field="*{password}" autocomplete="off"/>
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="col-lg-2 control-label">Firstname</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="firstname" th:field="*{firstname}" />
                </div>
            </div>

            <div class="form-group">
                <label for="lastname" class="col-lg-2 control-label">Lastname</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="lastname" th:field="*{lastname}" />
                </div>
            </div>

            <div class="form-group">
                <label for="middlename" class="col-lg-2 control-label">Middlename</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="middlename" th:field="*{middlename}" />
                </div>
            </div>

            <div class="form-group">
                <label for="email" class="col-lg-2 control-label">Email</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="email" th:field="*{email}" />
                </div>
            </div>
            <div class="form-group">
                <label for="phone" class="col-lg-2 control-label">Phone</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="phone" th:field="*{phone}" autocomplete="phone"/>
                </div>
            </div>

        </fieldset>

        <fieldset th:replace="~{fragments/address :: address}"></fieldset>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <p>Already have an account? <a th:href="@{/signin}">Sign In</a></p>
            </div>
        </div>
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>