<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">
    <h1>Pet Data</h1>

    <form method="post" th:action="@{/pet/}" th:object="${pet}">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{ownerId}">
        <table>
            <tr>
                <th>Name</th>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <th>Species</th>
                <td><select  th:field="*{speciesId}">
                    <option  th:each="s : ${species}" th:value="${s.id}" th:text="${s.name}"/>
                </select></td>
            </tr>
            <tr>
                <th>Breed</th>
                <td><input type="text" th:field="*{breed}"></td>
            </tr>
            <tr>
                <th>Birth Day</th>
                <td><input type="text" th:field="*{birthDay}"></td>
            </tr>
        </table>
        <input type="submit" value="Update">
    </form>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>