<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/head :: head}"></head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<div class="container">

    <h2>My Pets:</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Breed</th>
            <th>Birth Date</th>
        </tr>

        <tr th:if="${pets.empty}">
            <td colspan="4">No Pets</td>
        </tr>
        <tr th:each="pet : ${pets}">
            <td><a th:href="@{/pet/id/{id}(id=${pet.id})}"><span th:text="${pet.name}"> </span></a></td>
            <td><span th:text="${pet.speciesName}"> </span></td>
            <td><span th:text="${pet.breed}"> </span></td>
            <td><span th:text="${pet.birthDay}"> </span></td>
        </tr>
    </table>

    <h2>My Appointments</h2>
    <table class="table table-bordered table-striped">
        <tr>
            <th>#</th>
            <th>Pet Name</th>
            <th>Clinic Name</th>
            <th>Date</th>
            <th>Reason</th>
        </tr>

        <tr th:if="${appointments.empty}">
            <td colspan="4"> No Appointments </td>
        </tr>
        <tr th:each="appointment : ${appointments}">
            <td><a th:href="@{/appointment/id/{id}(id=${appointment.id})}"><span th:text="${appointment.id}"> </span></a></td>
            <td><span th:text="${appointment.petName}"> </span></td>
            <td><a th:href="@{/clinic/id/{id}(id=${appointment.clinicId})}"><span th:text="${appointment.clinicName}"> </span></a></td>
            <td><span th:text="${appointment.date}"> </span></td>
            <td><span th:text="${appointment.reason}"> </span></td>
            <td> <a th:href="@{/appointment/id/{id}/delete(id=${appointment.id})}"> Cancel</a></td>
        </tr>

    </table>

</div>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>